* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}




/* layout selector */

body {
     height: 100%;
     width: 100%;
}

#top {
     height: calc(100vh - 100px);
     background-color: rgba(20, 25, 35);
     width: calc(100vw - 300px);
     position: absolute;
     top: 0;
     right: 0;
     overflow-y: auto;

}

#bottom {
     height: 100px;
     background-color: rgb(40, 40, 40);
     z-index: 1;
}

#sidebar {
     height: calc(100vh - 100px);
     width: 300px;
     background-color: black;
     z-index: -1;
     overflow-y: auto;
}

header {
     position: fixed;
     height: 70px;
     width: calc(100% - 300px);
     background-color: rgba(0, 0, 0, 0.699);
     top: 0;
     right: 0;
}

#content-top {
     margin-top: 90px;
     max-width: 100%;
}

.content-sidebar {
     padding: 20px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}


.container{
     height: 100%;
}
.row{
height: 100%;
}
.col-33{
     width: 33%;
     height: 100%;
     display: flex;
     align-items: center;
}




.sezione .brano img {
     width: 100%;
}

.sezione .title {
     width: 100%;
     margin: 20px;
}

.sezione .brano {
     display: inline;
     margin: 10px;
     width: calc(100% / 6 - 20px);
     text-align: center;
}
.sezione .brano :nth-child(2){
     margin: 15px 0px 15px 0px;
     font-size: 25px;
}



/* utilities */

.d-flex {
     display: flex;
}

.wrap {
     flex-wrap: wrap;
}

.round {
     border-radius: 50%;
}

.txt-centro {
     position: relative;
     bottom: 15px;
}

/* stile generale */

ul {
     list-style: none;
}

#upgrade {
     position: absolute;
     right: 0;
     top: 35%;
}

nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

nav ul li {
     padding: 15px;
}

.icon {
     font-size: 30px
}



li img {
     width: 40px;
}

.fa-plus {
     font-size: 20px;
     padding: 5px;
     margin-right: 10px;
}



.content-sidebar :first-child {
     margin-top: 20px;
     max-width: 200px
}
.side-top ul li{
     margin-top: 7px;
}
.side-top ul:last-of-type{
     height: 12vh;
     overflow-y: auto;
     margin-top: 10px;
}
.side-top h3{
margin-top: 20px;
margin-bottom: 20px;
}
.side-bottom div img {
     position: relative;
     top: 3px;
     width: 15px
}
.side-bottom .bg-grey{
    border-radius: 50%;
    color: white;
    position: relative;
    top: 10px;
    width: 30px;
}

.logo-small {
     display: none;
}


.col-33 img{
     width: 60px;
}




/* colori */

.grey {
     color: grey;
}

.bg-grey {
     background-color: grey;
}

.white {
     color: white
}

.black {
     color: black
}

@media screen and (max-width:768px) {
     .sezione .brano {
          width: calc(100% / 4 - 20px);
     }

     #sidebar {
          width: 200px;
     }

     #top {
          width: calc(100vw - 200px);
     }

     header {
          width: calc(100% - 200px);
     }
}

@media screen and (max-width:480px) {
     .sezione .brano {
          width: calc(100% / 2 - 20px);
     }

     #sidebar {
          width: 50px;
     }

     #top {
          width: calc(100vw - 50px);
     }

     header {
          width: calc(100% - 50px);
     }


     .hide {
          display: none;
     }

     .content-sidebar {
          max-width: 100%;
          padding: 5px;
     }

     .side-bottom {
          text-align: center;
     }
     .logo-small{
          display: block;
     }
}